<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fertility Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Fertility Prediction</h1>
        <form method="POST" action="/predict">
            <div class="form-group">
                <label for="season">Musim saat analisis dilakukan:</label>
                <select name="season" id="season" required>
                    <option value="-1" {% if season == "-1" %} selected {% endif %}>winter</option>
                    <option value="-0.33" {% if season == "-0.33" %} selected {% endif %}>spring</option>
                    <option value="0.33" {% if season == "0.33" %} selected {% endif %}>summer</option>
                    <option value="1" {% if season == "1" %} selected {% endif %}>fall</option>
                </select>
            </div>

            <div class="form-group">
                <label for="age">Usia saat analisis (0-1):</label>
                <input type="number" step="0.01" id="age" name="age" value="{{ age }}" required>
            </div>

            <div class="form-group">
                <label for="child_diseases">Penyakit masa kecil:</label>
                <select name="child_diseases" id="child_diseases" required>
                    <option value="0" {% if child_diseases == "0" %} selected {% endif %}>ya, pernah menderita penyakit masa kecil</option>
                    <option value="1" {% if child_diseases == "1" %} selected {% endif %}>tidak, tidak pernah menderita penyakit masa kecil</option>
                </select>
            </div>

            <div class="form-group">
                <label for="accident">Kecelakaan atau trauma serius:</label>
                <select name="accident" id="accident" required>
                    <option value="0" {% if accident == "0" %} selected {% endif %}>ya, pernah mengalami kecelakaan atau trauma serius</option>
                    <option value="1" {% if accident == "1" %} selected {% endif %}>tidak, tidak pernah mengalami kecelakaan atau trauma serius</option>
                </select>
            </div>

            <div class="form-group">
                <label for="surgical_intervention">Intervensi bedah:</label>
                <select name="surgical_intervention" id="surgical_intervention" required>
                    <option value="0" {% if surgical_intervention == "0" %} selected {% endif %}>ya, pernah menjalani intervensi bedah</option>
                    <option value="1" {% if surgical_intervention == "1" %} selected {% endif %}>tidak, tidak pernah menjalani intervensi bedah</option>
                </select>
            </div>

            <div class="form-group">
                <label for="high_fevers">Demam tinggi dalam setahun terakhir:</label>
                <select name="high_fevers" id="high_fevers" required>
                    <option value="-1" {% if high_fevers == "-1" %} selected {% endif %}>kurang dari tiga bulan lalu</option>
                    <option value="0" {% if high_fevers == "0" %} selected {% endif %}>lebih dari tiga bulan lalu</option>
                    <option value="1" {% if high_fevers == "1" %} selected {% endif %}>tidak pernah</option>
                </select>
            </div>

            <div class="form-group">
                <label for="alcohol">Frekuensi konsumsi alkohol (0-1):</label>
                <input type="number" step="0.01" id="alcohol" name="alcohol" value="{{ alcohol }}" required>
            </div>

            <div class="form-group">
                <label for="smoking">Kebiasaan merokok:</label>
                <select name="smoking" id="smoking" required>
                    <option value="-1" {% if smoking == "-1" %} selected {% endif %}>tidak pernah</option>
                    <option value="0" {% if smoking == "0" %} selected {% endif %}>kadang-kadang</option>
                    <option value="1" {% if smoking == "1" %} selected {% endif %}>setiap hari</option>
                </select>
            </div>

            <div class="form-group">
                <label for="hrs_sitting">Jumlah jam duduk per hari (0-1):</label>
                <input type="number" step="0.01" id="hrs_sitting" name="hrs_sitting" value="{{ hrs_sitting }}" required>
            </div>

            <button type="submit">Predict</button>
        </form>

        {% if prediction %}
            <h2>Prediction: {{ prediction }}</h2>
            <h3>Accuracy: {{ accuracy }}</h3>
        {% endif %}
        {% if error %}
            <h2>Error: {{ error }}</h2>
        {% endif %}

        <!-- Button to navigate to data_info page -->
        <button style="background-color: aqua;"><a style="text-decoration: none;" href="/data_info">Informasi Data</a></button>
        <button style="background-color: palevioletred;"><a style="text-decoration: none;" href="https://github.com/suryaekasantoso/Source-Code-Aplikasi">Source Code</a></button>
    </div>
</body>
</html>
